/* VARIABILI COLORE */
:root{
    --darkblue:#000814;
    --medblue:#001D3D;
    --lightblue:#003566;
    --yellow1:#FFC300;
    --lightyellow:#FFD60A;

}

/* NAVBAR */

.margine{

    margin-left: 10px;

}

.btn-custom{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var( --darkblue);
    border: 3px solid var(--medblue);
    color: var(--lightyellow);
    transition: 0.5s;

}

.btn-custom:hover{

    transition: 0.5s;
    color: var(--black);
    background-color: var(--lightyellow);
    border: 3px solid var( --darkblue);

}

#padre{

    width: 0%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-property: all;

}

/* CARDS */

.card-custom-image{

    width: 70%;
    height: 30%;
    
}


/* FOOTER */

.dark-blue-text{

    color: var(--darkblue);

}

.footer-color{

    background-color: var(--medblue);

}

.section-footer{

    background-color: var(--lightyellow);

}

.end-footer{

    background-color: var(--darkblue);

}

.hr-footer{

    width: 60px; 
    background-color: var(--lightyellow); 
    height: 2px

}

a{

    text-decoration: none;

}