/* VARIABILI COLORE */
:root {
    --darkblue: #000814;
    --medblue: #001D3D;
    --lightblue: #003566;
    --yellow1: #FFC300;
    --lightyellow: #FFD60A;
}

/* GENERICS */

.boxColor {

    background-color: var(--yellow1);
    border: 5px 5px solid var(--yellow1);
    width: 850px;
    height: 750px;
    position: absolute;
    top: 350px ;
    z-index: -1;
}

/* body {
    background-color: #FCF6E8
} */

h1 {
    color: var(--lightblue);
    text-shadow: 2px 2px 2px var(--yellow1)
}

.revisor-title {
    color: white;
    text-shadow: 5px 5px 5px var(--yellow1);
}

.bg-btn {
    background-color: var(--lightyellow);
}

.box {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: var(--medblue);
    color: var(--yellow1);
    border-radius: 20px;
}


.bg-revisor {
    background-color: var(--medblue);
}

/* NAVBAR */

.navbar {

    color: var(--lightyellow);
    background-color: var(--medblue);
    transition: 0.25s;

}

.nav-link {

    color: var(--lightyellow) !important;

}

.margine {

    margin-left: 10px;

}

.bg-pallino {

    background-color: var(--lightyellow);

}

.btn-custom {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--darkblue);
    border: 3px solid var(--medblue);
    color: var(--lightyellow);
    transition: 0.5s;

}

.btn-custom:hover {

    transition: 0.5s;
    color: var(--darkblue);
    background-color: var(--lightyellow);
    border: 3px solid var(--darkblue);

}

#padre {

    width: 0%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-property: all;

}

.bg-searchBar {

    border: solid 3px #FFD60A;

}

.bg-dropDown {

    background-color: var(--medblue);

}


.dropdown-item {

    color: #FFC300 !important;

}

.dropdown-item:hover {

    color: #001D3D !important;
    background-color: #FFC300 !important;

}


.dropdown-item:hover,
.dropdown-item:focus {
    background-color: var(--lightblue);
}

/* CARDS */

.card {

    min-width: 300px;
    max-width: 300px;
    border: 2px solid var(--medblue);
    background-color: #FCF6E8;
}

.card-custom-image {

    position: center;
    /* background-color: var(--yellow1); */
}

.card-custom-price {

    text-align: center;
    background-color: var(--medblue);
    color: var(--yellow1);

}

.badge {
    font-size: large !important;
    /* z-index: 2 !important; */
}

/* FOOTER */

.dark-blue-text {

    color: var(--darkblue);

}

.footer-color {

    background-color: var(--medblue);

}

.section-footer {

    background-color: var(--lightyellow);

}

.end-footer {

    background-color: var(--darkblue);

}

.hr-footer {

    width: 60px;
    background-color: var(--lightyellow);
    height: 2px
}

a {

    text-decoration: none;
    color: black;

}

a:hover {

    text-decoration: none;
    color: var(--yellow1);

}

.btn-revisore {
    background-color: var(--yellow1);
    border: 3px solid var(--medblue);
    color: var(--darkblue);
    transition: 0.5s;
    text-decoration: none;
}

.btn-revisore:hover {

    transition: 0.5s;
    color: var(--yellow1);
    background-color: var(--medblue);
    border: 3px solid var(--darkblue);
    text-decoration: none;
}

/* form ad.create livewire */

.img-preview{

 

 width: 300px;
 height: 300px;
 background-size:cover;  
 background-position:center;  

}
