/* VARIABILI COLORE */
:root {
    --darkblue: #000814;
    --medblue: #001D3D;
    --lightblue: #003566;
    --yellow1: #FFC300;
    --lightyellow: #FFD60A;
}

/* GENERICS */

@media screen and (max-width: 540px) {
    .btn-custom {
        display: none;
    }
    #padre {
        display: none;
    }
    #formCustom {
        display: none;
    }
}

.container-border {
    border: solid 2px var(--medblue);
}

/* .boxColor {

    position: absolute;
    background-color: var(--yellow1);
    width: 850px;
    height: 750px;
    z-index: -1;
    top: 350px;
} */

body {
    background:
        radial-gradient(circle, transparent 20%, white 20%, white 80%, transparent 80%, transparent),
        radial-gradient(circle, transparent 20%, white 20%, white 80%, transparent 80%, transparent) 50px 50px,
        linear-gradient(#001D3D 8px, transparent 8px) 0 -4px,
        linear-gradient(90deg, #001D3D 8px, transparent 8px) -4px 0;
    background-color: white;
    background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

h1 {
    color: var(--lightblue);
    text-shadow: 2px 2px 2px orange;
}

.revisor-title {
    color: white;
    text-shadow: 5px 5px 5px var(--yellow1);
}

.bg-btn {
    background-color: var(--lightyellow);
}

.box {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: var(--medblue);
    color: var(--yellow1);
    border-radius: 20px;
}

.box-titolo {
    background-color: var(--lightyellow);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    border-radius: 20px;
    margin-bottom: 0px;
    padding: 5px;
    border: 3px solid var(--medblue);
}

.bg-revisor {
    background-color: var(--medblue);
}

.colore-inserzione {
    background-color: #FCF6E8;
}

.scontornamitutto {
    background-color: #FCF6E8 !important;
    border-radius: 5px;
}

.lovogliobianco {
    background-color: white;
}

.occupazione{
    height: 100vh;
}

/* NAVBAR */

.navbar {

    color: var(--lightyellow);
    background-color: var(--medblue);
    transition: 0.25s;

}

.nav-link {

    color: var(--lightyellow) !important;

}

.margine {

    margin-left: 10px;

}

.bg-pallino {

    background-color: var(--lightyellow);

}

.badge {

    font-size: 16px;
    padding: 7px;
    font-weight: lighter;
    margin-left: 5px;

}

.btn-custom {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--darkblue);
    border: 3px solid var(--medblue);
    color: var(--lightyellow);
    transition: 0.5s;

}

.btn-custom:hover {

    transition: 0.5s;
    color: var(--darkblue);
    background-color: var(--lightyellow);
    border: 3px solid var(--darkblue);

}

#padre {

    width: 0%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-property: all;

}

.bg-searchBar {

    border: solid 3px #FFD60A;

}

.bg-dropDown {

    background-color: var(--medblue);

}


.dropdown-item {

    color: #FFC300 !important;

}

.dropdown-item:hover {

    color: #001D3D !important;
    background-color: #FFC300 !important;

}


.dropdown-item:hover,
.dropdown-item:focus {
    background-color: var(--lightblue);
}

/* @media screen and (min-width: 500px) {
    #customDropDownSM {
        display: none;
    }
} */



.display {
    display: none !important;
}

/* @media screen and (max-width: 2000px) {
    #customDropDownLG {
        display: none;
    }
} */


/* CARDS */

.card {

    min-width: 300px;
    max-width: 300px;
    border: 2px solid var(--medblue);
    background-color: #FCF6E8;
}

.card-custom-image {

    position: center;
    /* background-color: var(--yellow1); */
}

.card-custom-price {

    text-align: center;
    background-color: var(--medblue);
    color: var(--yellow1);

}

/* script pazzo di Dan */

.description-card-custom{

    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}

.description-custom{

    word-break: break-all;

}

/* fine script pazzo di Dan */

.badge {
    font-size: large !important;
    /* z-index: 2 !important; */
}

/* FOOTER */

.dark-blue-text {

    color: var(--darkblue);

}

.footer-color {

    background-color: var(--medblue);

}

.section-footer {

    background-color: var(--lightyellow);

}

.end-footer {

    background-color: var(--darkblue);

}

.hr-footer {

    width: 60px;
    background-color: var(--lightyellow);
    height: 2px
}

@media screen and (max-width:500px) {
    .query-footer{
        font-size: small !important;
    }
}

@media screen and (max-width:800px) {
    .query-footer{
        font-size: medium !important;
    }
}

a {

    text-decoration: none;
    color: black;

}

a:hover {

    text-decoration: none;
    color: var(--yellow1);

}

.btn-revisore {
    background-color: var(--yellow1);
    border: 3px solid var(--medblue);
    color: var(--darkblue);
    transition: 0.5s;
    text-decoration: none;
}

.btn-revisore:hover {

    transition: 0.5s;
    color: var(--yellow1);
    background-color: var(--medblue);
    border: 3px solid var(--darkblue);
    text-decoration: none;
}

.btn-dettagli {
    background-color: var(--yellow1);
    border: 3px solid var(--medblue);
    color: var(--darkblue);
    transition: 0.5s;
    text-decoration: none;
}

.btn-dettagli:hover {

    transition: 0.5s;
    color: var(--yellow1);
    background-color: var(--medblue);
    border: 3px solid var(--darkblue);
    text-decoration: none;
}

/* form ad.create livewire */

.img-preview {



    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;

}


/* CAROUSEL */

/* .carousel-inner {

    position: relative;
    width: 50%;
    overflow: hidden;

}

.carousel-item {

    position: relative;
    display: flex;
    float: left;
    width: 75%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;

} */